@import '~bootstrap/scss/bootstrap';

@import './partials/variables';

main{
    width: calc(100% - 150px);
    height: 100vh;
    overflow-y: auto;
}

header{
    background-color: $main-color;
    padding: 20px 0;
}

#sidebar{
    width: 150px;
    height: 100vh;
    background-color: $main-color;
    color: $second-color;
    border-right: 1px solid $second-color;
    
    
    .top-sidebar{
        height: 75px;
        padding: 10px 20px;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
    
    .bottom-sidebar{
        height: calc(100% - 75px);
        padding: 10px 20px;
        
        li{
            padding: 10px 0;
            
            a{
                color: $second-color;
                text-decoration: none;
                transition: text-decoration, 0.3s;

                &:hover{
                    text-decoration: underline;
                }

                &.active{
                    text-decoration: underline;
                }
            }
        }
    }
}



